---
import RecentlyAdded from "@/components/cards/RecentlyAdded.vue";
import TopCompanies from "@/components/cards/TopCompanies.vue";
import Search from "@/components/search/Search.vue";
import PublicDefault from "@/layouts/public/PublicDefault.astro";
import "@/styles/globals.css";
---

<PublicDefault title="FindJob - Encuentra tu próximo empelo">
  <section class="animate-once animate-ease-in">
    <!-- Search -->
    <div
      class="bg-background/95 p-4 backdrop-blur supports-[backdrop-filter]:bg-background/60"
    >
      <form>
        <div class="relative">
          <Search client:only />
        </div>
      </form>
    </div>

    <div>
      <RecentlyAdded client:only />
    </div>

    <div>
      <TopCompanies client:only />
    </div>
  </section>
</PublicDefault>
