---
import Search from "@/components/search/Search.vue";
import PublicDefault from "@/layouts/public/PublicDefault.astro";
import "@/styles/globals.css";
---

<PublicDefault title="FindJob - Encuentra tu próximo empelo">
  <section class="pt-[50px] pb-[150px] animate-once animate-ease-in">
    <!-- Logo -->
    <div class="flex flex-col items-center">
      <img
        src="https://i.ibb.co/KKBpR3Y/Sin-ti-tulo.png"
        alt="logo"
        width="450px"
      />
    </div>

    <!-- Search -->
    <div class="flex flex-col items-center">
      <Search client:visible />
    </div>

    <!-- Title -->
    <div class="pt-[100px] flex flex-col text-center">
      <p
        class="text-2xl font-medium text-slate-600"
        style="text-shadow: 0.5px 1px 0.5px gray;"
      >
        La oportunidad que estas buscando
      </p>
      <p
        class="text-4xl font-medium text-slate-700"
        style="text-shadow: 0.5px 1px 0.5px gray;"
      >
        ¡esta aquí!
      </p>
    </div>

    <!-- Info -->
    <div class="">
      <p
        class="text-center text-slate-950 text-3xl hidden"
        style="text-shadow: 0.5px 1px 0.5px gray;"
      >
        Con FindJob puedes aplicar a vacantes y encontrar tu próximo empleo
      </p>

      <div class="flex flex-row space-x-8 justify-evenly pt-8">
        <div
          class="bg-gradient-to-r from-slate-100 to-slate-50 border border-slate-200 rounded-md w-[200px] items-center align-bottom justify-center text-center h-[60px] content-center"
        >
          <span
            class="text-slate-500 font-medium text-2xl"
            style="text-shadow: 0.5px 1px 0.5px gray;"
          >
            Busca</span
          >
        </div>
        <div
          class="bg-gradient-to-r from-slate-100 to-slate-50 border border-slate-200 rounded-md w-[200px] items-center align-middle justify-center text-center h-[60px] content-center"
        >
          <span
            class="text-slate-500 font-medium text-2xl"
            style="text-shadow: 0.5px 1px 0.5px gray;"
          >
            Conecta</span
          >
        </div>
        <div
          class="bg-gradient-to-r from-slate-100 to-slate-50 border border-slate-200 rounded-md w-[200px] items-center align-bottom justify-center text-center h-[60px] content-center"
        >
          <span
            class="text-slate-500 font-medium text-2xl"
            style="text-shadow: 0.5px 1px 0.5px gray;">Retro</span
          >
        </div>
      </div>
    </div>
  </section>
</PublicDefault>

<style>
  main {}
</style>
