---
import RecentlyAdded from "@/components/cards/RecentlyAdded.vue";
import TopCompanies from "@/components/cards/TopCompanies.vue";
import Search from "@/components/search/Search.vue";
import PublicDefault from "@/layouts/public/PublicDefault.astro";
import "@/styles/globals.css";
---

<PublicDefault title="FindJob - Encuentra tu próximo empelo">
  <section class="animate-once animate-ease-in">
    <!-- Search -->
    <div
      class="bg-background/95 p-4 backdrop-blur supports-[backdrop-filter]:bg-background/60"
    >
      <form>
        <div class="relative">
          <Search client:load />
        </div>
      </form>
    </div>

    <div>
      <RecentlyAdded client:load />
    </div>

    <div>
      <TopCompanies client:load />
    </div>

    <!-- Info -->
    <div class="hidden">
      <p
        class="text-center text-slate-950 text-3xl hidden"
        style="text-shadow: 0.5px 1px 0.5px gray;"
      >
        Con FindJob puedes aplicar a vacantes y encontrar tu próximo empleo
      </p>

      <div class="flex flex-row space-x-8 justify-evenly pt-8">
        <div
          class="bg-gradient-to-r from-slate-100 to-slate-50 border border-slate-200 rounded-md w-[200px] items-center align-bottom justify-center text-center h-[60px] content-center"
        >
          <span
            class="text-slate-500 font-medium text-2xl"
            style="text-shadow: 0.5px 1px 0.5px gray;"
          >
            Busca</span
          >
        </div>
        <div
          class="bg-gradient-to-r from-slate-100 to-slate-50 border border-slate-200 rounded-md w-[200px] items-center align-middle justify-center text-center h-[60px] content-center"
        >
          <span
            class="text-slate-500 font-medium text-2xl"
            style="text-shadow: 0.5px 1px 0.5px gray;"
          >
            Conecta</span
          >
        </div>
        <div
          class="bg-gradient-to-r from-slate-100 to-slate-50 border border-slate-200 rounded-md w-[200px] items-center align-bottom justify-center text-center h-[60px] content-center"
        >
          <span
            class="text-slate-500 font-medium text-2xl"
            style="text-shadow: 0.5px 1px 0.5px gray;">Retro</span
          >
        </div>
      </div>
    </div>
  </section>
</PublicDefault>

<style>
  main {
  }
</style>
