---
import Search from "@/components/search/Search.vue";
import PublicDefault from "@/layouts/public/PublicDefault.astro";
import ViewJobs from "@/components/mail/ViewJobs.vue";
import "@/styles/globals.css";
---

<PublicDefault title="FindJob - Encuentra tu próximo empelo">
  <section>    
    <div class="flex flex-col items-center">
      <ViewJobs client:only/>
    </div>
  </section>
</PublicDefault>

<style>
  main {
  }
</style>
